{% extends "layout.html" %}

{% block main %}
    <div class="mb-3">
        <h2>Which Marshal of the Empire are you?</h2>
    </div>
    <div class="mb-3">
        <h5>{{ page.title }}</h5>
    </div>
    <div class="mb-3">
        <strong>{{ page.info }}</strong>
    </div>
    <form action="{{ page.action }}" method="post">
        {% for option in page.options %}
        <div class="mb-3">
            <input type="radio" id="{{option.value}}" name="MarshalsQuiz" value="{{option.value}}" required>
            <label for="{{option.value}}">{{option.name}}</label><br>
        </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">{{ page.buttonText }}</button>
    </form>
{% endblock %}
